.v2-site .v2-container {
    width: min(var(--container-max), 100% - 2 * var(--gutter-mob));
    margin-inline: auto;
    padding-inline: var(--gutter-mob);
}

@media (min-width: 768px) {
    .v2-site .v2-container {
        padding-inline: 20px;
    }
}

@media (min-width: 1280px) {
    .v2-site .v2-container {
        width: min(var(--container-max), 100% - 2 * var(--gutter-desk));
        padding-inline: var(--gutter-desk);
    }
}

.v2-site .v2-row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--col-gap-mob);
}

@media (min-width: 768px) {
    .v2-site .v2-row {
        gap: var(--col-gap-mob);
    }
}

@media (min-width: 1280px) {
    .v2-site .v2-row {
        gap: var(--col-gap-desk);
    }
}

.v2-site [class^='v2-col-'],
.v2-site [class*=' v2-col-'] {
    min-width: 0;
    grid-column: span 12;
}

.v2-site .v2-col-1,
.v2-site .v2-col-2,
.v2-site .v2-col-3,
.v2-site .v2-col-4,
.v2-site .v2-col-5,
.v2-site .v2-col-6,
.v2-site .v2-col-7,
.v2-site .v2-col-8,
.v2-site .v2-col-9,
.v2-site .v2-col-10,
.v2-site .v2-col-11,
.v2-site .v2-col-12 {
    grid-column: span 12;
}

@media (min-width: 768px) {
    /* На планшете элементы с .v2-col-lg-* (без .v2-col-sm-*) остаются span 12 */
    .v2-site [class*='v2-col-lg-']:not([class*='v2-col-sm-']) {
        grid-column: span 12;
    }

    .v2-site .v2-col-sm-1 {
        grid-column: span 1;
    }
    .v2-site .v2-col-sm-2 {
        grid-column: span 2;
    }
    .v2-site .v2-col-sm-3 {
        grid-column: span 3;
    }
    .v2-site .v2-col-sm-4 {
        grid-column: span 4;
    }
    .v2-site .v2-col-sm-5 {
        grid-column: span 5;
    }
    .v2-site .v2-col-sm-6 {
        grid-column: span 6;
    }
    .v2-site .v2-col-sm-7 {
        grid-column: span 7;
    }
    .v2-site .v2-col-sm-8 {
        grid-column: span 8;
    }
    .v2-site .v2-col-sm-9 {
        grid-column: span 9;
    }
    .v2-site .v2-col-sm-10 {
        grid-column: span 10;
    }
    .v2-site .v2-col-sm-11 {
        grid-column: span 11;
    }
    .v2-site .v2-col-sm-12 {
        grid-column: span 12;
    }
}

@media (min-width: 1280px) {
    .v2-site .v2-col-lg-1 {
        grid-column: span 1;
    }
    .v2-site .v2-col-lg-2 {
        grid-column: span 2;
    }
    .v2-site .v2-col-lg-3 {
        grid-column: span 3;
    }
    .v2-site .v2-col-lg-4 {
        grid-column: span 4;
    }
    .v2-site .v2-col-lg-5 {
        grid-column: span 5;
    }
    .v2-site .v2-col-lg-6 {
        grid-column: span 6;
    }
    .v2-site .v2-col-lg-7 {
        grid-column: span 7;
    }
    .v2-site .v2-col-lg-8 {
        grid-column: span 8;
    }
    .v2-site .v2-col-lg-9 {
        grid-column: span 9;
    }
    .v2-site .v2-col-lg-10 {
        grid-column: span 10;
    }
    .v2-site .v2-col-lg-11 {
        grid-column: span 11;
    }
    .v2-site .v2-col-lg-12 {
        grid-column: span 12;
    }
}

.v2-site .v2-section {
    padding-block: 48px;
}

@media (min-width: 1280px) {
    .v2-site .v2-section {
        padding-block: 72px;
    }
}
