.v2-site .v2-text-center {
    text-align: center;
}

.v2-site .v2-hidden {
    display: none;
}

.v2-site .v2-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Общие стили для overlapping circles (используются в consultation и services) */
.v2-site .v2-consultation__circles,
.v2-site .v2-services__circles {
    display: flex;
    align-items: center;
    position: relative;
}

.v2-site .v2-consultation__circle,
.v2-site .v2-services__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.v2-site .v2-consultation__circle img,
.v2-site .v2-services__circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v2-site .v2-consultation__circle:first-child,
.v2-site .v2-services__circle:first-child {
    z-index: 1;
}

.v2-site .v2-consultation__circle:last-child,
.v2-site .v2-services__circle:last-child {
    margin-left: -15px;
    z-index: 2;
    outline: 4px solid var(--white);
    outline-offset: 0;
}
